/******************

Template stylesheet

******************/

/* BODY */

@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

#twitter-widget-1 {
  width:850px;
}
body
{
    margin: 0;
        border-top: 5px solid #363636;
    background: #fff url(../img/background.png) top left repeat;
    font: 14px/1.4 "Lato", sans-serif;
    color: #363636;
}

/* COMMON STYLES */

p
{
    margin: 0 0 25px 0;
}

.zh {
    font-family: 微軟正黑體,Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro','Microsoft Yahei','Microsoft JhengHei',新細明體;
    font-size: 14px;
    font-weight:800;
    line-height: 150%;
}

.zh strong {
    background: #363636;
        color: #EEB52F;
}

.ultrabold
{
    font-weight: 900;
}

/* HEADER */

#header
{
    padding: 21px 0 0 0;
}

/* LOGO */

#logo
{
    display: inline-block;
}

#logo img
{
    height: 207px;
    width: 258px;
}

/* NAVIGATION */

#nav
{
    height: 65px;
    line-height: 30px;
    padding: 5px 0;
    text-align: right;
}
#nav li {
  display: inline;
}

#nav a
{
    display: inline-block;
        background: #C22C2C;
    font: 15px/30px "Lato", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0 6px;
}

#nav a:hover
{
    border-radius: 4px;
}

/* ADDITIONAL MESSAGE */

#message
{
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
}

/* ERROR MESSAGE */

#error
{
    float: right;
    margin-top: -5px;
    font: 300 72px/0.8 "Lato", sans-serif;
    color: #363636;
}

#error > span
{
    display: inline-block;
}

#core
{
    font-weight: 900;
    font-size: 180px;
}

#core2
{
    font-weight: 900;
    font-size: 90px;
        padding: 10px;
        background:#363636;
        color:#EEB52F;
}
.location {
  padding-top: 50px;
}
.location h3 {
  font-weight: 800;
}
.location strong {
  background: #363636;
  color: #EEB52F;
}
#error-text
{
    margin-left: 16px;
}
table {
   float: left;
   margin-right: 20px;
}
table thead {
   background: #c22c2c;
   color: #fff;
}
#tabs {
   opacity: 0.9;
}
#tabs #judge table td {
   padding: 10px;
   vertical-align: top;
}
#tabs #judge img{
   width: 200px;
}
#tabs .schedule {
   margin-top: 30px;
}
#tabs #workshop .schedule {
   width: 650px;
}
#tabs .schedule .time {
   width: 100px;
}
#tabs #hackthon table {
  width: 400px;
}
#tabs #hackthon table a ,
#tabs #workshop table a {
  color: red;
}
#tabs #workshop .schedule .workshop {
   width: 300px;
}
#tabs #workshop .schedule .note {
   width: 200px;
}
#fullhouse {
  padding-bottom: 20px;
  font-weight: 800;
}
#fullhouse strong {
  font-size: 48px;
  background: #363636;
  color: #FFF;
}
#hackthon .preface h3 {
  background: #363636;
  color: #EEB52F;
}

/* footer */

footer
{
        background-color:#363636;
        margin-bottom:0px;
        padding: 20px 0 100px 0;;
        text-align:center;
        color:#EEB52F;
}
footer .bd {
  width: 850px;
  margin: 0 auto;
}
footer .thanks,
footer .sponsor,
footer .host {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}
footer img {
  opacity: 0.8;
  height: 45px;
}
footer li.citi img,
footer li.nsc img {
  height: 100px;
}
footer li.ossf img {
  width: 180px;
}
footer li.micloud img {
  width: 130px;
}
footer li.jsdc img {
  width: 45px;
}
footer li.node img {
  width: 100px;
}
footer li  li {
  float: right;
  background: #fff;
  margin: 0 5px;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px)
{


}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
{
    #nav
    {
        height: auto;
        padding: 0;
        margin-bottom: 25px;
        background: transparent;
        border: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #nav > a
    {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 288px;
        font-size: 20px;
        text-shadow: none;
    }

    #nav > a:hover, #nav > a:active
    {
        color: #000;
        background: transparent;
    }

    #message
    {
        margin-top: 25px;
        font-size: 24px;
    }

    #error
    {
        float: none;
        font-size: 24px;
        margin-top: 0;
    }

    #error-code
    {
        font-size: 40px;
    }
    footer * {

      display: none;
    }
}

.clearfix:after {

  content: ".";

  display: block;

  clear: both;

  visibility: hidden;

  line-height: 0;

  height: 0;

}

.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.sns {
  position: absolute;
  right: 0;
  top: 0;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/* 參賽隊伍 */
#entries{
	margin-bottom: 50px;
}

#entries a{
	text-decoration: none;
	color: #C22C2C;
}

#entries ul{
	margin: 0;
	padding: 0;
}

#entries ul li{
	position: relative;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, .1);
	padding: 1%;
	border-left: 5px rgba(0, 0, 0, .1) solid;
}

#entries ul li:after{
	clear: both;
}

#entries ul li:before, #entries ul li:after{
	display: table;
	content: "";
	zoom: 1;
}

#entries .screenshot{
	float: left;
	width: 20%;
	height: auto;
	border: 2px #333 solid;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#entries .screenshot img{
	width: 100%;
	height: auto;
	vertical-align: middle;
}

#entries .entrie{
	float: right;
	width: 78%;
	z-index: 1;
}

#entries .entrie h2, #entries .entrie h4{
	font-family: 'Inconsolata';
}

#entries .entrie h2{
	font-size: 24px;
}

#entries li[data-badges='1P']{
	border-left: 5px #C22C2C solid;
}

#entries .badges{
	position: absolute;
	right: -25px;
	top: -25px;
	width: 100px;
	height: 100px;
	z-index: -1;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

@media only screen and (max-width: 479px) {
	
	#entries .badges{
		display: none;
	}

	#entries .screenshot{
		display: none;
	}

	#entries .entrie{
		float: left;
		width: 100%;
	}	

}
